vti_encoding:SR|utf8-nl
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|Toshiba\\mtigue
vti_timelastmodified:TR|17 Sep 2013 11:53:26 -0000
vti_timecreated:TR|25 Jul 2013 12:36:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|25/main.html rak.html rak2.html 28/main-sep16.html 31/main-sep16.html 32/main_copy(1).html 28/main.html 32/main-sep16.html main-backup.html 28/main_copy(1).html 31/main_copy(1).html 18/main.html 26/main.html main2.html 31/main.html
vti_syncwith_68.178.246.6\:21/newman:TX|25 Jul 2013 12:40:25 -0000
vti_syncofs_68.178.246.6\:21/newman:TW|28 Jul 2013 03:52:10 -0000
vti_nexttolasttimemodified:TW|17 Sep 2013 11:36:54 -0000
vti_syncwith_68.178.246.6\:21/yalecc:TX|25 Jul 2013 12:40:25 -0000
vti_syncofs_68.178.246.6\:21/yalecc:TW|13 Aug 2013 03:17:44 -0000
vti_syncwith_68.178.246.6\:21/stanford:TX|17 Sep 2013 11:53:26 -0000
vti_syncofs_68.178.246.6\:21/stanford:TW|18 Sep 2013 12:45:49 -0000
vti_cacheddtm:TX|17 Sep 2013 11:53:26 -0000
vti_filesize:IR|178
vti_cachedlinkinfo:VX|S|fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff
vti_cachedsvcrellinks:VX|FSUS|28/assets/css/fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff
